body{
 margin:0;
 padding:0;
 background: linear-gradient(to bottom,hsl(217, 28%, 15%) 0%,hsl(217, 28%, 15%) 0 12%,
 hsl(218, 28%, 13%)0 14%, hsl(218, 28%, 13%)0 77%, hsl(216, 53%, 9%)0 77%, hsl(216, 53%, 9%)0 100%);
 background-repeat: no-repeat;

}

h1,h2,h3,h4,p{
font-family:'Raleway', sans-serif;
color:white;
padding-left: 2rem;
padding-right: 2rem;
text-align: center;

}

* p,span{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5rem;
  }

  h1{
    font-size: 1.8rem;
    line-height: 3rem;
  }

  h2{
    font-size: 1.1rem;
  }

  a{
    color:white;
    text-decoration: none;
    font-size: .8rem;
    font-family: "Raleway", sans-serif;
  }

  a:hover{
   color:hsl(176, 68%, 64%);
 }


/* --------Header---------- */
.logo{
  width:80px;

}


header{
  height:2rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

ul{
  color:white;
  list-style: none;

}

li{
  display:inline-block;
  padding:.5rem;

}





/* ------Intro--------- */
.intro{
  background-image: url(images/bg-curvy-mobile.svg);

  background-repeat: no-repeat;
  background-position: bottom;
  background-size:45rem;
  background-position: 65% 90%;
}


.intro img{
  display: block;
  width:80%;
  padding:1rem;

}

.started-btn{
  width:16rem;
  font-size: 1rem;
  background-image: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%) );
  color:white;
  padding: 1rem;
  border-style: none;
  border-radius: 40px;
  margin:2rem auto 0 auto;
  display:block;
}

/* ---------Main Section----------- */
.card img{
  display: block;
  width:8rem;
  margin:7rem auto 3rem;
}

.card h1{
  margin-top:3rem;
}
#security{
  width:6rem;
}
.productive{
  display:block;
  width:70%;
  margin:6rem auto;
}

.productive-div p{
  text-align: left;
}


.works{
  color:hsl(176, 68%, 64%);
  font-family: Raleway,sans-serif;
  margin-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2rem;
  text-decoration: none;


}

.arrow{
  display:inline;
  width:1.5rem;
  position: relative;
  top:.4rem;
  left:-.2rem;

}

hr{
width:10rem;
margin-left: 1.8rem;
border-color:hsl(176, 68%, 64%);
}

/* --------Testimonials-------- */


.testimonials{
  position: relative;
  margin:7rem auto 0 auto;
  background-color: hsl(219, 30%, 18%);
  width:65%;
  padding:1rem 2rem;
  border-radius:10px;

}



.testimonials p{
  font-size: .8rem;
  font-weight: 200;
  text-align: left;
  padding:0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

#quotes{
  width:2rem;
  position: absolute;
  bottom:11rem;
  left:0rem;

}

.profile-pic{

  width:3rem;
  float:left;
  border-radius: 90px;
  margin-bottom: 2rem;
  margin-right: 1rem;


}

.testimonials h3,h4{
  text-align: left;
  margin:0;
  padding:0;
  margin-bottom:.3rem;
  margin-top: .5rem;


}

.testimonials h3{
  font-size: .8rem;
  letter-spacing: .1rem;

}

.testimonials h4{
  font-size: .8rem;
  font-weight: 200;
}

/* --------CTA-------- */

.cta{
  background-color: hsl(217, 28%, 15%);
  width:85%;
  margin: 10rem auto 6rem auto;
  padding: 2rem 0;
  border-radius: 20px;
}

.cta h2{
  font-size: 1.4rem;
}

.cta p{
  font-size: 1.2rem;
  line-height: 2rem;
}

  .email-btn{
    width:16rem;
    font-size: 1rem;
    background-color: white;
    color:lightgrey;
    padding: 1rem;
    border-style: none;
    border-radius: 40px;
    margin:2rem auto 0 auto;
    display:block;
    text-align: left;
  }


/* --------Footer-------- */

.bottom-logo{
  display:block;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  width:15rem;
}

footer{
display:flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
padding:2rem;
}

.footer-flex{
  display: flex;
  flex-direction: column;
}

.footer-flex span{
  padding-top: 1.5rem;
}

span{
  color:white;
  display:block;

}

footer p{
  text-align: left;
}

.about-flex li{
  display: block;
  font-family: "raleway", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.about{
  margin-top: 4rem;
  padding:0;
}

.contact-about{
  margin-top: 2rem;
  padding: 0;
}



.social-icons{
  color:white;
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(176, 68%, 64%); }


  /* -------------Desktop Layout----------- */

  @media only screen and (min-width:600px){
    body{
    background: linear-gradient(to bottom,hsl(217, 28%, 15%) 0%,hsl(217, 28%, 15%) 0 14%,
    hsl(218, 28%, 13%)0 14%, hsl(218, 28%, 13%)0 77%, hsl(216, 53%, 9%)0 77%, hsl(216, 53%, 9%)0 100%);
    }

    .intro img{
      width:50%;
      margin:0 auto;
    }

    .intro h1{
      width:60%;
      margin:0 auto;
    }

    .intro{
      background-image: url(images/bg-curvy-desktop.svg);

      background-repeat: no-repeat;
      background-size:100rem;
      background-position: 45% 170%;
    }

    .flex{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .card{
      width:35rem;
      margin:0;
      padding:0;

    }

  .productive{
    width:100%;


    }

.productive-div h2{
  font-size: 2.7rem;
  text-align: left;
  padding-right: 0;
  margin-top: 6rem;
}
  .productive-div {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.test-div{
  display:flex;
}

.testimonials{
  margin:1rem;
  padding:1rem 1rem 0 1rem;
}

#quotes{
  bottom:13rem;
}

.cta button{
  display: inline-block;
}

.email-btn{
  width:32rem;
  margin-right: 3rem;
  margin-left: 3rem;
}


/* ----------Footer-------- */

.bottom-logo{
  margin-left: 4rem;
}

footer{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content:space-around;
  height:15rem;
  padding:3rem;
  margin-bottom: 2rem;
}

.grid{
  margin: 0;
}

.footer-flex{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  width:50%;

}

span{
  padding:.5rem;
  margin:0 0 .5rem 0;
}

.location{
  width:40%;
}

.footer-flex img{
  width:20px;
  display: inline-flex;
  margin-right: 1rem;
}

.about-flex{
  display:flex;
  justify-content: flex-start;
  width:25%;
  font-family: "Raleway", sans-serif;

}

.about-flex li{
  font-size: 1rem;
  display: block;
}

.about{
  margin-top: 2rem;
}

.contact-about{
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  font-family: "Raleway", sans-serif;


}

.contact-about li{
  margin-bottom: 1.2rem;


}

.phone-email{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: .5rem;
  margin-left: 2rem;

}

.social-icons{
  display: flex;
  justify-content:space-around;
  width:12%;
  height:10rem;







}








  }
